<section class="insert">
    <h3>Insert Data</h3>
    <form action="/insert" method="post">
        <div class="input">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </div>
        <div class="input">
            <label for="manufacturer">Manufacturer</label>
            <input type="text" id="manufacturer" name="manufacturer">
        </div>
        <div class="input">
            <label for="amount">Amount in stock</label>
            <input type="text" id="amount" name="amount">
        </div>
        <button type="submit">Insert</button>
    </form>
</section>
<section class="get">
    <h3>Get Data</h3>
    <a href="/get-data">Get data</a>
    <div>
        {{# each items }}
            <article class="item">
                <div>Name: {{ this.name }}</div>
                <div>Manufacturer: {{ this.manufacturer }}</div>
                <div>Amount in stock: {{ this.amount_in_stock }}</div>
                <div>ID: {{ this._id }}</div>
            </article>
        {{/each}}
    </div>
</section>